@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


::-webkit-scrollbar {
   background-color: #a33e0f27;
   border-radius: 20px;
   color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #9b47209f;
    border-radius: 20px
}

/**********************************************Header**********************************************/
* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Nunito Sans';
}

.banner {
    background: linear-gradient(#a33e0f65 100%, #db77134f 20%),
        url(/Imagens/R.jfif)no-repeat fixed center;
    background-size: 100% 100%;
    height: 625px;
    overflow-y: hidden;

}

.titulo {
    text-align: center;
    color: aliceblue;
    padding: 29px 32px 40px 25px;
    border: #ffffffd5 6px solid;
    width: 25%;
    overflow-y: hidden;
    position: relative;
    left: 35%;
    top: 50px;
    border-radius: 0 25px 0 25px;
}

.banner h3 {
    text-align: center;
    color: aliceblue;
    width: 20%;
    position: relative;
    left: 38%;
    top: 150px;
}

.banner h1 {
    text-align: center;
    color: aliceblue;
    width: 100%;
    position: relative;
    left: -2%;
    top: 150px;
    font-size: 105px;
    padding: 0 40px 0 10px;
}

.banner p {
    text-align: center;
    color: aliceblue;
    width: 100%;
    position: relative;
    left: -2%;
    top: 150px;
    font-size: 19px;
}

/********************************************* Menu********************************************/
#menu ul li {
    background-color: aliceblue;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: transparent;
    padding: 10px;
    overflow-y: hidden;
}

#menu {
    position: relative;
    left: 90%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    width: 100px;
    border-radius: 40px;
}

.Compra {
  
    width: 90%;
}
.admin{
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+div {
    display: none;
}

nav {
    height: 100;
    padding: 80px 0 0 0;
    position: relative;
    bottom: 200px;
}

nav label img {
    position: relative;
    left: 91%;
    bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: transform .35s;
}

nav label img:hover {
    transform: translate(1.15);
}

hr {
    width: 50%;
    position: relative;
    left: 25%;
}
    /**********************************************Perfil**********************************************/
.PerfilC {
    text-align: center;
    font-size: 170%;
}

.PerfilC img {
    width: 15%;
    height: 15%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
}

.informaçao {
    text-align: center;
}

.informaçao h3 {
    margin: 20px;
    font-size: 30px;
}

.informaçao p {
    margin: 20px;
    font-size: 20px;
}
.sobreMim{
    padding: 20px;
    width: 600px;
    height: 150px;
    margin: 10px;
}
.sairUser{
    border: none;
    background-color: #db7713;
    margin: 20px;
    padding: 10px 0px;
    cursor: pointer;
    width: 200px;
}
#loginUser{
    border: none;
    background-color: #db7713;
    padding: 10px 00px;
    cursor: pointer;
    width: 200px;

}

/*********************************************Footer*********************************************/
.midia {
    background-color: #db7713c7;
    height: 100px;
}

.midia p {
    position: relative;
    top: 50px;
}
/********************************************* responsivo ********************************************/


@media (max-width: 1150px) {
    #menu ul li {
        background-color: aliceblue;
        margin: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border-color: transparent;
        padding: 10px;
        overflow-y: hidden;
    }

    #menu {
        position: relative;
        left: 94%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid rgb(255, 255, 255);
        width: 60px;
        border-radius: 40px;

    }

    #menu img {
        position: relative;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;

    }

    input[type="checkbox"] {
        display: none;

    }

    input[type="checkbox"]:checked+div {
        display: none;

    }

    nav {
        height: 100%;
        padding: 80px 50px 0 50px;
        position: relative;
        bottom: 330px;
    }

    nav label img {
        position: relative;
        left: 95%;
        width: 40px;
        bottom: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        transition: transform .35s;
    }


    nav label img:hover {
        transform: translate(1.15);
    }
}

.container {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lista{  
    border: 2px solid rgba(230, 107, 26, 0.692);
    margin: 30px;
    height: 68%;
    width: 60%;
    min-width: 290px;
    border-radius: 20px;
}

.lista button {
    background-color: transparent;
    border: none;
    position: relative;
    top: 10px;
}
.lixo button {
    background-color: rgb(255, 0, 0);
    border: none;
    position: relative;
    top: 10px;
}
.lista h1 {
    text-align: center;
        padding: 20px;
}
.lista img {
    height: 30px;
    width: 30px;
}
.lista input{
    height: 30px;
    width: 40%;
    border-radius: 10px;
    border:1px solid rgb(230, 107, 26, 0.692);
    outline: none;
}
.lista li{
    border-radius: 20px;
    padding: 10px 90px;
    margin: 16px 80px;
    text-align: left;
    box-shadow: 2px 2px 7px 1px rgba(112, 112, 112, 0.637); 
    border:1px solid rgb(230, 107, 26, 0.692);
}
.lista li img{
    background-image: left;
    width: 25px;
    height: 25px;
}
#deletar {
    position: sticky;
    left: 80%;
}
@media screen and (max-width: 1200px){
    .lista li{
        padding: 10px;
        margin: 20px 5px;
        
    }
}
