::-webkit-scrollbar {
    background-color: #a33e0f27;
    border-radius: 20px;
    color: black;
 }
 ::-webkit-scrollbar-thumb{
     background-color: #9b47209f;
     border-radius: 20px
 }
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

/**********************************************Header**********************************************/
* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Nunito Sans';
}

.banner {
    background: linear-gradient(#a33e0f65 100%, #db77134f 20%),
        url(/Imagens/R.jfif)no-repeat fixed center;
    background-size: 100% 100%;
    height: 625px;
    overflow-y: hidden;

}

.titulo {
    text-align: center;
    color: aliceblue;
    padding: 29px 32px 40px 25px;
    border: #ffffffd5 6px solid;
    width: 25%;
    overflow-y: hidden;
    position: relative;
    left: 35%;
    top: 50px;
    border-radius: 0 25px 0 25px;
}

.banner h3 {
    text-align: center;
    color: aliceblue;
    width: 20%;
    position: relative;
    left: 38%;
    top: 150px;
}

.banner h1 {
    text-align: center;
    color: aliceblue;
    width: 100%;
    position: relative;
    left: -2%;
    top: 150px;
    font-size: 105px;
    padding: 0 40px 0 10px;
}

.banner p {
    text-align: center;
    color: aliceblue;
    width: 100%;
    position: relative;
    left: -2%;
    top: 150px;
    font-size: 19px;
}

/********************************************* Menu********************************************/
#menu ul li {
    background-color: aliceblue;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: transparent;
    padding: 10px;
    overflow-y: hidden;
}

#menu {
    position: relative;
    left: 90%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    width: 100px;
    border-radius: 40px;

}

.Compra {
 
    width: 90%;

}
.admin{
    width: 100%;
}

input[type="checkbox"] {
    display: none;

}

input[type="checkbox"]:checked+div {
    display: none;

}

nav {
    height: 100;
    padding: 80px 0 0 0;
    position: relative;
    bottom: 200px;
}

nav label img {
    position: relative;
    left: 91%;
    bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: transform .35s;
}

nav label img:hover {
    transform: translate(1.15);
}
/******************************************* Esplicação *******************************************/
.esplicacoes h2 {
    text-align: center;
    padding: 80px 0 0 0;
}

.esplicacoes div {
    height: 450px;
    overflow-y: hidden;
}

.violao-acustico h3 {
    font-size: 30px;
    padding: 0 0 0 100px;
    position: relative;
    top: 80px;
    width: 70%;
}

.violao-acustico img {
    height: 70%;
    width: 20%;
    position: relative;
    left: 76%;
    top: 60px;
    transition: transform .35s;

}

.violao-acustico img:hover {
    transform: scale(1.15);
}

.violao-acustico p {
    font-size: 20px;
    padding: 50px;
    position: relative;
    bottom: 250px;
    width: 70%;
}

.violao-semi-acustico h3 {
    font-size: 30px;
    padding: 0 0 0 100px;
    position: relative;
    top: 120px;
    width: 70%;
    left: 23%;
}

.violao-semi-acustico p {
    font-size: 20px;
    padding: 50px;
    position: relative;
    bottom: 163px;
    width: 70%;
    left: 23%;
}

.violao-semi-acustico img {
    height: 70%;
    width: 30%;
    position: relative;
    top: 60px;
    transition: transform .35s;
}

.violao-semi-acustico img:hover {
    transform: scale(1.15);
}

.violao-eletroacustico h3 {
    font-size: 30px;
    padding: 0 0 0 100px;
    position: relative;
    bottom: 250px;
    width: 70%;
}

.violao-eletroacustico p {
    font-size: 20px;
    padding: 50px;
    position: relative;
    bottom: 200px;
    width: 70%;
    left: 26px;
}

.violao-eletroacustico img {
    height: 70%;
    width: 30%;
    position: relative;
    top: 60px;
    left: 70%;
    transition: transform .35s;
}

.violao-eletroacustico img:hover {
    transform: scale(1.15);
}

.violao-eletrico h3 {
    font-size: 30px;
    padding: 0 0 0 100px;
    position: relative;
    bottom: 140px;
    width: 70%;
    left: 23%;
}

.violao-eletrico p {
    font-size: 20px;
    padding: 50px;
    position: relative;
    bottom: 123px;
    width: 70%;
    left: 23%;
}

.violao-eletrico img {
    height: 70%;
    width: 30%;
    position: relative;
    top: 120px;
    transition: transform .35s;
}

.violao-eletrico img:hover {
    transform: scale(1.15);
}

hr {
    position: relative;
    top: 20px;
    width: 65%;
    left: 15%;
}

/*********************************************Footer*********************************************/
.midia {
    background-color: #db7713c7;
    height: 100px;
}

.midia p {
    position: relative;
    top: 50px;
}

/*********************************************Responsivo*********************************************/
@media screen and (max-width: 780px) {

    .banner h1 {
        font-size: 80px;
    }

    hr {
        position: relative;
        top: 80px;
        width: 65%;
        left: 15%;
    }

    .esplicacoes div {
        height: 100%;
    }

    .violao-acustico h3 {
        text-align: center;
        position: relative;
        left: 5%;
        padding: 10% 10% 10% 10%;
    }

    .violao-acustico img {
        height: 70%;
        width: 20%;
        position: relative;
        top: 30px;
        left: 30%;
        padding: 5% 5% 5% 8%;
    }

    .violao-acustico p {
        font-size: 13px;
        top: 50px;
        text-align: center;
        position: relative;
        left: 6%;
        padding: 5% 5% 20% 8%;

    }

    .violao-semi-acustico h3 {
        text-align: center;
        position: relative;
        left: 5%;
        padding: 10%;
    }

    .violao-semi-acustico p {
        font-size: 13px;
        top: 50px;
        text-align: center;
        position: relative;
        left: 6%;
        padding: 5% 5% 20% 8%;
    }

    .violao-semi-acustico img {
        height: 80%;
        width: 40%;
        position: relative;
        left: 25%;
        top: 90px;
        padding: 5% 5% 5% 8%;
    }

    .violao-eletroacustico h3 {
        text-align: center;
        position: relative;
        left: 5%;
        padding: 10%;
        bottom: 50px;
    }

    .violao-eletroacustico p {
        font-size: 13px;
        top: 119px;
        text-align: center;
        position: relative;
        left: 6%;
        padding: 5% 5% 45% 8%;
    }

    .violao-eletroacustico img {
        height: 70%;
        width: 30%;
        position: relative;
        top: 250px;
        left: 25%;
        padding: 5% 5% 5% 8%;
    }

    .violao-eletrico h3 {
        text-align: center;
        position: relative;
        left: 5%;
        padding: 10%;
        bottom: 180px;
    }

    .violao-eletrico p {
        font-size: 13px;
        top: 50px;
        text-align: center;
        position: relative;
        left: 6%;
        padding: 5% 5% 20% 8%;
    }

    .violao-eletrico img {
        height: 70%;
        width: 30%;
        position: relative;
        top: 180px;
        left: 30%;
        padding: 15% 5% 5% 8%;
    }

}

@media screen and (max-width: 415px) {
    .violao-eletrico h3 {
        font-size: 28px;
        position: relative;
        top: -66px;

    }

    @media screen and (max-width: 280px) {
        .violao-eletrico h3 {
            font-size: 28px;
            top: 12px;
        }
    }

    @media screen and (max-width: 540px) {
        .violao-eletrico h3 {
            font-size: 28px;
            top: 95px;
        }
    }
}

@media (max-width: 1150px) {
    #menu ul li {
        background-color: aliceblue;
        margin: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border-color: transparent;
        padding: 10px;
        overflow-y: hidden;
    }

    #menu {
        position: relative;
        left: 94%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid rgb(255, 255, 255);
        width: 60px;
        border-radius: 40px;

    }

    #menu img {
        position: relative;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;

    }

    input[type="checkbox"] {
        display: none;

    }

    input[type="checkbox"]:checked+div {
        display: none;

    }

    nav {
        height: 100%;
        padding: 80px 50px 0 50px;
        position: relative;
        bottom: 330px;
    }

    nav label img {
        position: relative;
        left: 95%;
        width: 40px;
        bottom: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        transition: transform .35s;
    }
    

    nav label img:hover {
        transform: translate(1.15);
    }
}

@media screen and (max-width: 400px) {
    .titulo {
        left: 30%;
    }
}
@media (max-width: 415px) {
    .titulo{
        left: 130px;
    }
    .violao-eletrico h3 {
        font-size: 28px;
        top: -40px;
    }
}